@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .font-r-flex {
    font-family: 'Roboto', sans-serif;
    display: flex;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-r-flex;
}

h1 {
  @apply text-[40px] md:text-[64px] leading-none font-bold;
}

h2 {
  @apply text-[20px] md:text-[28px] leading-none font-bold;
}

h3 {
  @apply text-[16px] md:text-[24px] leading-none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2f5e7d;
}


.icon-rotate {
  transition: transform 0.5s ease; 
}

.icon-rotate:hover {
  transform: rotate(180deg); 
}

@keyframes pulse {
  0% {
    color: #4ecca3;
    background-color: #4ecca3;
  }

  25% {
    color: #72d4e2;
    background-color: #72d4e2;
  }

  50% {
    color: #a49ae4;
    background-color: #a49ae4;
  }

  75% {
    color: #d5a6e4;
    background-color: #d5a6e4;
  }

  100% {
    color: #4ecca3;
    background-color: #4ecca3;
  }
}


@keyframes shimmer {
  0% {
    background-position: -150%;
  }
  100% {
    background-position: 150%;
  }
}

.shimmer-text {
  display: inline-block;
  background: linear-gradient(90deg, rgba(255,255,255,0.3), rgba(255,255,255,0.8), rgba(255,255,255,1));
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 2s infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce {
  animation: bounce 2s infinite;
}


@keyframes shine {
  0% {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.4),
      0 0 30px rgba(11, 56, 102, 0.2);
  }
  50% {
    text-shadow:
      0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(11, 56, 102, 0.4);
  }
  100% {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.4),
      0 0 30px rgba(11, 56, 102, 0.2);
  }
}

.shine-text {
  color: #ffffff; 
  animation: shine 2s infinite;
}
