@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-r-flex {
    font-family: 'Roboto', sans-serif; 
    display: flex;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-r-flex;
}

h1 {
  @apply text-[40px] md:text-[64px] leading-none font-bold;
}

h2 {
  @apply text-[20px] md:text-[28px] leading-none font-bold;
}

h3 {
  @apply text-[16px] md:text-[24px] leading-none;
}

@keyframes pulse {
  0% {
    color: #95f9c3;
    background-color: #95f9c3;
  }

  50% {
    color: #95d5f9;
    background-color: #95d5f9;
  }

  100% {
    color: #9795f9;
    background-color: #9795f9;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2f5e7d;
}

.icon-rotate {
  transition: transform 0.5s ease; 
}

.icon-rotate:hover {
  transform: rotate(180deg); 
}
